.create-advert-body {
    margin: auto;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}

.advert-container {
    margin-top: 10px;
}

.advert-container .header h2{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 0 30% 10px 30%;

}

.advert-container .advert {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.advert img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 3px;
    margin-right: 20px;
}

.advert .jobtype,
.advert .location,
.advert .date,
.advert .description,
.advert .contact {
    width: 100%;
    display: inline-block;
}


.advert .description {
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.advert .description label {
    float: left;
    width: 100%;
    font-weight: 700;
    margin: 4px;
}

.advert input {
    margin-top: 2px;
    float: left;
    width: 20%;
    padding: 5px;
    font-size: 90%;
}

.advert .description input {
    width: 98%;
    margin: 4px;
    margin-bottom: 10px;
}

.advert .contact ul {
    list-style-type: none;
    float: left;
    padding-left: 10px;
    margin-top: 5px;
}

.advert .contact li {
    padding: 2px;
}

.advert button {
    width: 110px;
    height: 40px;
    font-size: 105%;
    color: white;
    border: 3px solid white;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 0.5pt black;
    background-color: #4A56DD;
    cursor: pointer;
}

.advert button:hover {
    opacity: 0.8;
}

.error-msg {
    color: red;
    margin-left: 20px;
}

